@{
    ViewData["Title"] = "ASP.NET Core MVC";
    Layout = "_LayoutMVC";
    <!-- Layout = "_Layout"; -->
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>
        This is a simple website project written in ASP.NET Core MVC technology.
    </p>
    <p>
        <img src="~/Images/MVC_block03.png" border="0">
    </p>
    <p>
        ASP.NET Core MVC is a rich framework for building web apps and APIs using the Model-View-Controller
        design pattern.<br />
        The Model-View-Controller (MVC) architectural pattern separates an application into three main groups of components: Models, Views, and Controllers. This pattern helps to achieve separation of concerns. Using this pattern, user requests are routed to a Controller which is responsible for working with the Model to perform user actions and/or retrieve results of queries. The Controller chooses the View to display to the user, and provides it with any Model data it requires.

        Above shows the diagram the three main components and which ones reference the others.
    </p>
    <p>
        This project ASP.NET demonstrates how to create web pages using the ASP.NET Core MVC<br />
        The website is simple, because it has only the necessary files to work.
    </p>


</div>
